.container {
    display: grid;
  /* style the columns and rows here */
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-template-rows: 100px 100px;
}


#grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}


#grid-item-2 {
    grid-column-start: 3;
}


#grid-item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
}


#grid-item-4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

